<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>League of Legends Stats</title>
    <link rel="stylesheet" th:href="@{../home.css}"
</head>
<body>
    <div class="container">
        <header>
            <h1>League of Legends Stats</h1>
            <form th:action="@{/summoner}" method="get" class="search-form">
                <label for="gameName">Game Name:</label>
                <input type="text" id="gameName" name="gameName" required>
                <label for="tagLine">Tag Line:</label>
                <input type="text" id="tagLine" name="tagLine" required>
                <input type="submit" value="Get Stats">
            </form>
        </header>

        <main>
            <section th:if="${summoner}">
                <h2>Summoner Info</h2>
                <div class="summoner-info">
                    <p><strong>Name:</strong> <span th:text="${gameName}"></span></p>
                    <p><strong>Summoner Level:</strong> <span th:text="${summoner.summonerLevel}"></span></p>
                    <p><strong>Profile Icon ID:</strong>
                        <!-- <img th:src="https://javigg-profileicons-bucket.s3.us-east-2.amazonaws.com/profileicon/0.png"> -->
                        <!-- <img th:if="${profileIconUrl}" th:src="${profileIconUrl}" alt="Profile Icon" /> -->
                        <!-- <img th:unless="${profileIconUrl}" th:src="https://javigg-profileicons-bucket.s3.us-east-2.amazonaws.com/profileicon/0.png" alt="Default Profile Icon" /> -->
                    </p>
                </div>
            </section>

            <section th:if="${matchHistory}">
                <h2>Match History</h2>
                <ul class="match-list">
                    <li th:each="matchId : ${matchHistory}">
                        <div class="match-item">
                            <p><strong>Match ID:</strong> <span th:text="${matchId}"></span></p>
                        </div>
                    </li>
                </ul>
            </section>
        </main>
    </div>
</body>
</html>
